<a href="https://colab.research.google.com/github/gktjdrn/21.2phthon_A/blob/main/211019_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%EB%A6%AC%EB%B7%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1. 파이썬 변수로 사용할수 없는 것은?
_num = 1
num = 2
num1 = 3
#2num = 4
#변수를 선언할 때 맨 앞에 숫자는 올 수 없다!
n_um = 5

SyntaxError: ignored

In [2]:
#2. 각 변수에 저장된 최종 값은?
sum = 0
n1 = 10
n1 = n1+10
n2 = 20
sum = n1+n2
print(n1,n2,sum)

20 20 40

In [4]:
#3, 적절한 연산자 찾기
print(17//4)
print(17/4)
print(17%4)

4
4.25
1

In [7]:
#4. 데이터 타입 찾기
age = 17
st = '나이'
tu = (17,'나이')
print(type(age))
print(type(st))
print(type(tu))
print(type(type(age)))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'type'>

In [8]:
#5. 문자열 인덱싱
s = 'Hello Hanyang!'
print(s[5],s[-5])

  y

In [9]:
#6. upper() 함수와 문자열 슬라이싱
s = 'Hello Hanyang'
print(s)
s = s.upper()
print(s)
print(s[:8])
print(s)

Hello Hanyang
HELLO HANYANG
HELLO HA
HELLO HANYANG

In [10]:
#7. 여러 데이터를 다루는 파이썬의 자료형에는 리스트, 튜플, 딕셔너리, 셋이 있다

In [14]:
#8-9. 리스트
a = ['a', 1, 'python', (1, 2), '2',[1, 2]]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [19]:
#10. 리스트와 리스트함수
nums = list(range(4))
print(nums)
nums.insert(3, 100)
print(nums)

[0, 1, 2, 3]
[0, 1, 2, 100, 3]

In [20]:
#11. 튜플의 개념
a = 100
b = 200
a, b = b, a
print(a, b)

200 100

In [21]:
#12. 딕셔너리
a = {'han':1, 1:2, '1':3}
a[1] = 'yang'
print(a)

{'han': 1, 1: 'yang', '1': 3}

In [24]:
#13.셋
a = set([1,1,1,1,1,1,1,1,1,1,1,2,3])
print(a)
b = set('Hello')
print(b)

{1, 2, 3}
{'o', 'l', 'H', 'e'}

In [26]:
#14-15.
room = [[0,0,1,0,9],
        [1,0,1,0,1],
        [0,1,1,1,9]]
mouse = room[0][2]

if mouse == 1:
  print('cheese')
elif mouse == 9:
  print('trap')
else:
  print("nothing")

cheese

In [29]:
#16-17
a_score = 0
b_score = 0

for i in range(3, 9):
  if i%2 == 0 and i%3 == 0:
    continue
  elif i%2 == 0:
    a_score += 1
  elif i%3 == 0:
    b_score += 1
print(a_score, b_score)

2 1

In [41]:
#18-20
print('======================피나치공======================')
print('메뉴')
print('메뉴번호 1 햄버거(300원) 2 피자(500원) 3 치킨(700원)')
print('====================================================')

money = int(input('투입 금액: '))
menu = int(input('메뉴 번호: '))
if menu == 1:
  money -= 300
elif menu == 2:
  money -= 500
elif menu == 3:
  money -= 700

if money < 0:
  print("오류: 잔액이 부족합니다")
else:
  won10000 = money//10000
  won5000 = money%10000//5000
  won1000 = money%5000//1000
  won500 = money%1000//500
  won100 = money%500//100
  print('거스름돈: 10000원 {}개, 5000원 {}개 1000원 {}개, 500원 {}개 100원 {}개'.format(won10000, won5000, won1000, won500, won100))

======================피나치공======================
메뉴
메뉴번호 1 햄버거(300원) 2 피자(500원) 3 치킨(700원)
====================================================
투입 금액: 500000
메뉴 번호: 3
거스름돈: 10000원 49개, 5000원 1개 1000원 4개, 500원0개 100원 3개