<a href="https://colab.research.google.com/github/gktjdrn/21.2phthon_A/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(list%2Ctuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
- 리스트(list)와 튜플(tuple)에 대해 이해하기
- 딕셔너리(dict)와 셋(set)에 대해 이해하기

### **리스트(list)와 튜플(tuple)**

- 여러 개의 값을 담을 수 있는 데이터 구조
- list : 생성한 후에 변경이 가능(mutable)
- tuple : 생성한 후에 변경 불가능(immutable)

In [55]:
a = [1, 2, 3, 4, 5] #[]안에 값을 담아서 생성
print(a)

[1, 2, 3, 4, 5]

In [37]:
b = ['컴네', 'A', '1학년',10, 20, [2, 3]]
print(b)

['컴네', 'A', '1학년', 10, 20, [2, 3]]

In [8]:
c = "hello comnet A!"
d = list(c) #list()함수로 리스트 생성
# 다른 타입(문자열)을 리스트로 변환할 때 사용 가능 = "hello comnet A!"

e = c.split() #문자열의 공백 기준으로 리스트를 생성
f = c.split('l') #구분자(매개변수) 기준

print(d)
print(e)
print(f)

['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A', '!']
['hello', 'comnet', 'A!']
['he', '', 'o comnet A!']

### **리스트 indexing**
- [] 연산자를 이용해 항목을 가져온다.
- [i]:i번째 원소를 반환하되 음수라면 마지막 원소에서부터 시작한다.

In [18]:
g = [1,2,3,4,5,6,7,8,9,10]
print(g[0], g[2])
print(g[-1],g[-3],g[-10])
print(g[9])

1 3
10 8 1
10

In [23]:
#인덱스 접근 후 값을 업데이트
h = c.replace('l','w')
i = 'j' +c[1:]
print(h)
print(i)

g[0] = 100
g[-1] = 90
print(g)

hewwo comnet A!
jello comnet A!
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]

### **리스트 slicing**
- 슬라이싱 결과 역시 리스트
- 문자열과 동일하게 동작

In [29]:
g = [1,2,3,4,5,6,7,8,9,10]

print(g[3:7])
print(g[:7])
print(g[3:])
print(g[:])
print(g[1:7:2])

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6]

### **리스트 멤버 함수**
- 생성된 리스트에 동작하는 함수
- append() : 리스트 끝에 항목 추가
- extend() : 리스트를 연장(+=)
- insert() : 원하는 위치에 추가 가능 (위치,아이템)

- remove() : 값으로 항목을 삭제
- pop() : 지우고자 하는 인덱스의 아이템을 반환 후 삭제

- index() : 찾고자하는 값의 인덱스를 반환

In [56]:
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [57]:
j = [11,12,13,14,15]
#a.extend(j)
a += j #extend로 동작
print(a)

[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15]

In [58]:
a.insert(5,20)
print(a)

[1, 2, 3, 4, 5, 20, 10, 11, 12, 13, 14, 15]

In [59]:
a.remove(20)
print(a)

[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15]

In [62]:
k = a.pop(0)
print(a)
print(k)

[2, 3, 4, 5, 11, 13, 14, 15]
1

In [63]:
a = [2, 6, 7, 9, 10]
a.index(7)

2

### **in 키워드**
- 리스트 내에 해당 값이 존재하는지
- True, False 중 한가지로 반환
- 값 in [list]

In [66]:
l = [1,2,3,4,5,6,7]
m = 5
n = 10
o = m in l

print(o)
print(n in l)

True
False

### **list 정렬**
- sort() : 리스트 자체를 내부적으로 정렬
- sorted() : 정렬된 리스트의 복사본을 반환

In [72]:
p = [9, 10, 23, 1, 2, 45, 2, 35, 123, 31, 6]
q = sorted(p)
print(p)

p.sort(reverse=True)
print(p)
print(q)

[9, 10, 23, 1, 2, 45, 2, 35, 123, 31, 6]
[123, 45, 35, 31, 23, 10, 9, 6, 2, 2, 1]
[1, 2, 2, 6, 9, 10, 23, 31, 35, 45, 123]

## **튜플(Tuple)**
- 리스트와 같이 여러 개의 값을 갖는 데이터 컬렉션 타입
- 생성 후 불변

In [ ]:
r = [1,2,3]
s = (1,2,3)

print(type(r))
print(type(s))

r[0]= 100
print(r)
#s[0] = 100 오류!
#print(s)

In [73]:
t,u,v,w = 10,20,30,40
print(t,u,v,w)

10 20 30 40

In [76]:
x = 5
y = 4

#문제! x,y의 값을 교환하시오.
#temp = x
#x = y
#y = temp
print(x,y)
x, y = y, x
print(x, y)

5 4
4 5